CREATE Procedure [dbo].[usp_Stage_MasterDataSheetTemplate_Populate_Test]

as   

set nocount on

truncate table PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test

insert PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test(BatchID)
select ToolTip from MasterDataSheetColumns where ColumnName = 'BatchID'

update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Internal Comments] = ToolTip from MasterDataSheetColumns where ColumnName = 'Internal Comments'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Sold To Countries] = ToolTip from MasterDataSheetColumns where ColumnName = 'Sold To Countries'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Countries Eligible] = ToolTip from MasterDataSheetColumns where ColumnName = 'Countries Eligible'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NP Product Code] = ToolTip from MasterDataSheetColumns where ColumnName = 'NP Product Code'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [MCP Product Ref ID] = ToolTip from MasterDataSheetColumns where ColumnName = 'MCP Product Ref ID'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [MCP SKU ID] = ToolTip from MasterDataSheetColumns where ColumnName = 'MCP SKU ID'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [SKU Format] = ToolTip from MasterDataSheetColumns where ColumnName = 'SKU Format'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NP Product SKUs] = ToolTip from MasterDataSheetColumns where ColumnName = 'NP Product SKUs'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NP SKU Description] = ToolTip from MasterDataSheetColumns where ColumnName = 'NP SKU Description'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [SKU Imprint Color] = ToolTip from MasterDataSheetColumns where ColumnName = 'SKU Imprint Color'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Supplier Name] = ToolTip from MasterDataSheetColumns where ColumnName = 'Supplier Name'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Supplier ASI #] = ToolTip from MasterDataSheetColumns where ColumnName = 'Supplier ASI #'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Supplier Item #] = ToolTip from MasterDataSheetColumns where ColumnName = 'Supplier Item #'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Supplier Product Name] = ToolTip from MasterDataSheetColumns where ColumnName = 'Supplier Product Name'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Supplier Product Sku] = ToolTip from MasterDataSheetColumns where ColumnName = 'Supplier Product Sku'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Supplier Product Sku Description] = ToolTip from MasterDataSheetColumns where ColumnName = 'Supplier Product Sku Description'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Features & Benefits] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Features & Benefits'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Long Description] = ToolTip from MasterDataSheetColumns where ColumnName = 'Long Description'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Web Search Words] = ToolTip from MasterDataSheetColumns where ColumnName = 'Web Search Words'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Link] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Link'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Category (Product Family)] = ToolTip from MasterDataSheetColumns where ColumnName = 'Category (Product Family)'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Subcategory] = ToolTip from MasterDataSheetColumns where ColumnName = 'Subcategory'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Oracle Catalog Level 1] = ToolTip from MasterDataSheetColumns where ColumnName = 'Oracle Catalog Level 1'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Oracle Catalog Level 2] = ToolTip from MasterDataSheetColumns where ColumnName = 'Oracle Catalog Level 2'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Oracle Catalog Level 3] = ToolTip from MasterDataSheetColumns where ColumnName = 'Oracle Catalog Level 3'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Material] = ToolTip from MasterDataSheetColumns where ColumnName = 'Material'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Material Class] = ToolTip from MasterDataSheetColumns where ColumnName = 'Material Class'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Size: WIDTH] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Size: WIDTH'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Size: HEIGHT] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Size: HEIGHT'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Size: DEPTH] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Size: DEPTH'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Size: UOM] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Size: UOM'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Size: Comments] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Size: Comments'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Capacity] = ToolTip from MasterDataSheetColumns where ColumnName = 'Capacity'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Capacity UOM] = ToolTip from MasterDataSheetColumns where ColumnName = 'Capacity UOM'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Size] = ToolTip from MasterDataSheetColumns where ColumnName = 'Size'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Brand name] = ToolTip from MasterDataSheetColumns where ColumnName = 'Brand name'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Country of Origin] = ToolTip from MasterDataSheetColumns where ColumnName = 'Country of Origin'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Freight: Package Category] = ToolTip from MasterDataSheetColumns where ColumnName = 'Freight: Package Category'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Freight: Pakage Type] = ToolTip from MasterDataSheetColumns where ColumnName = 'Freight: Pakage Type'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Freight: Qty Per Box] = ToolTip from MasterDataSheetColumns where ColumnName = 'Freight: Qty Per Box'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Freight: Qty UOM] = ToolTip from MasterDataSheetColumns where ColumnName = 'Freight: Qty UOM'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Freight: Box Weight] = ToolTip from MasterDataSheetColumns where ColumnName = 'Freight: Box Weight'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Freight: Box Weight UOM] = ToolTip from MasterDataSheetColumns where ColumnName = 'Freight: Box Weight UOM'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Weight] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Weight'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Weight: UOM] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Weight: UOM'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [TAT Min] = ToolTip from MasterDataSheetColumns where ColumnName = 'TAT Min'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [TAT Max] = ToolTip from MasterDataSheetColumns where ColumnName = 'TAT Max'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NP TAT Min] = ToolTip from MasterDataSheetColumns where ColumnName = 'NP TAT Min'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NP TAT Max] = ToolTip from MasterDataSheetColumns where ColumnName = 'NP TAT Max'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Image Path] = ToolTip from MasterDataSheetColumns where ColumnName = 'Image Path'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Product Video Link] = ToolTip from MasterDataSheetColumns where ColumnName = 'Product Video Link'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: Name] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: Name'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: Options] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: Options'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: Color Class] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: Color Class'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: Color Hex Values] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: Color Hex Values'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: Primary] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: Primary'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: Derived] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: Derived'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 1: ImpBack] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 1: ImpBack'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: Name] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: Name'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: Options] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: Options'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: Color Class] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: Color Class'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: Color Hex Values] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: Color Hex Values'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: Primary] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: Primary'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: Derived] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: Derived'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 2: ImpBack] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 2: ImpBack'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: Name] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: Name'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: Options] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: Options'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: Color Class] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: Color Class'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: Color Hex Values] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: Color Hex Values'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: Primary] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: Primary'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: Derived] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: Derived'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Attribute 3: ImpBack] = ToolTip from MasterDataSheetColumns where ColumnName = 'Attribute 3: ImpBack'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Refill Type] = ToolTip from MasterDataSheetColumns where ColumnName = 'Refill Type'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Point Type] = ToolTip from MasterDataSheetColumns where ColumnName = 'Point Type'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Point Size (mm)] = ToolTip from MasterDataSheetColumns where ColumnName = 'Point Size (mm)'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Ink Type] = ToolTip from MasterDataSheetColumns where ColumnName = 'Ink Type'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Ink Color] = ToolTip from MasterDataSheetColumns where ColumnName = 'Ink Color'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Ink: Color Hex Values] = ToolTip from MasterDataSheetColumns where ColumnName = 'Ink: Color Hex Values'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Art Template Path] = ToolTip from MasterDataSheetColumns where ColumnName = 'Art Template Path'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Category] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Category'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Location Class] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Location Class'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Process Class] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Process Class'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Source Imprint Method] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Source Imprint Method'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Source Location] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Source Location'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area Size: WIDTH] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area Size: WIDTH'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area Size: HEIGHT] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area Size: HEIGHT'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area Size: UOM] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area Size: UOM'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Included STD Colors] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Included STD Colors'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Max Colors] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Max Colors'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Min Font] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Min Font'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Max Font] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Max Font'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Default Font Size] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Default Font Size'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Default Font] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Default Font'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Color Options] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Color Options'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Color Hex Values] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Color Hex Values'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Default Imprint Color] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Default Imprint Color'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Imprint Area: Default Spot Color] = ToolTip from MasterDataSheetColumns where ColumnName = 'Imprint Area: Default Spot Color'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Currency] = ToolTip from MasterDataSheetColumns where ColumnName = 'Currency'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Standard Catalog MOQ] = ToolTip from MasterDataSheetColumns where ColumnName = 'Standard Catalog MOQ'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Net Item Cost at Catalog MOQ] = ToolTip from MasterDataSheetColumns where ColumnName = 'Net Item Cost at Catalog MOQ'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 1] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 1'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 1] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 1'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 2] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 2'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 2] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 2'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 3] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 3'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 3] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 3'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 4] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 4'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 4] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 4'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 5] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 5'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 5] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 5'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 6] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 6'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 6] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 6'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Quantity 7] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Quantity 7'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NPC Quote: Net Item Cost 7] = ToolTip from MasterDataSheetColumns where ColumnName = 'NPC Quote: Net Item Cost 7'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Setup Cost: NPC Quote] = ToolTip from MasterDataSheetColumns where ColumnName = 'Setup Cost: NPC Quote'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [NEW ORDER Setup Cost: CAT STD NET] = ToolTip from MasterDataSheetColumns where ColumnName = 'NEW ORDER Setup Cost: CAT STD NET'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Re-Order Setup Charge (EXACT ARTWORK): NPC Quote - NET] = ToolTip from MasterDataSheetColumns where ColumnName = 'Re-Order Setup Charge (EXACT ARTWORK): NPC Quote - NET'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Addl Color Run Charge: NPC Quote - NET] = ToolTip from MasterDataSheetColumns where ColumnName = 'Addl Color Run Charge: NPC Quote - NET'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Addl Location Run Charge: NPC Quote - NET] = ToolTip from MasterDataSheetColumns where ColumnName = 'Addl Location Run Charge: NPC Quote - NET'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Hazardous Shipping Charge - NET] = ToolTip from MasterDataSheetColumns where ColumnName = 'Hazardous Shipping Charge - NET'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Rush Production Available] = ToolTip from MasterDataSheetColumns where ColumnName = 'Rush Production Available'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Rush TAT] = ToolTip from MasterDataSheetColumns where ColumnName = 'Rush TAT'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Rush Charge] = ToolTip from MasterDataSheetColumns where ColumnName = 'Rush Charge'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [US HTS Code] = ToolTip from MasterDataSheetColumns where ColumnName = 'US HTS Code'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [EU HTS Code] = ToolTip from MasterDataSheetColumns where ColumnName = 'EU HTS Code'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [TR Commodity Code] = ToolTip from MasterDataSheetColumns where ColumnName = 'TR Commodity Code'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [TR Harmonized Code] = ToolTip from MasterDataSheetColumns where ColumnName = 'TR Harmonized Code'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: BPA Free] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: BPA Free'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: Eco Friendly] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: Eco Friendly'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: FDA Compliant] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: FDA Compliant'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: Lead Free] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: Lead Free'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: Prop 65 Label Required] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: Prop 65 Label Required'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: Recyclable] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: Recyclable'
update PIM_ETL_Stage.dbo.Stage_MasterDataSheetTemplate_Test set [Features: Hazardous Shipping] = ToolTip from MasterDataSheetColumns where ColumnName = 'Features: Hazardous Shipping'
GO
