CREATE Procedure [dbo].[usp_GetOracleSKUByExtractStatus]
	@ExtractCompleted	varchar(50),
	@BatchID			varchar(10)

as

set nocount on

if @ExtractCompleted not in('4','8')
begin
	INSERT PIM_ETL_STAGE.dbo.Stage_OracleSKUForEBSExport
		(
			[NEW_NPC_ITEM_NUM]
		  ,[DESCRIPTION]
		  ,[TARRIFF]
		  ,[PROCESS]
		  ,[COMMISSION_KEY]
		  ,[ROYALTY_CODE]
		  ,[ROYALTY_SUBCODE]
		  ,[AVAILABLE_FOR_SALES_ORDER]
		  ,[TNS]
		  ,[TNS_DEFAULT_SHIPPING]
		  ,[PLM]
		  ,[PLM_DEFAULT_SHIPPING]
		  ,[IRL]
		  ,[IRL_DEFAULT_SHIPPING]
		  ,[PPC]
		  ,[PPC_DEFAULT_SHIPPING]
		  ,[NDC]
		  ,[NDC_DEFAULT_SHIPPING]
		  ,[SAN]
		  ,[SAN_DEFAULT_SHIPPING]
		  ,[ZCA]
		  ,[ZCA_DEFAULT_SHIPPING]
		  ,[ZPP]
		  ,[ZPP_DEFAULT_SHIPPING]
		  ,[ZAT]
		  ,[ZAT_DEFAULT_SHIPPING]
		  ,[GER]
		  ,[GER_DEFAULT_SHIPPING]
		  ,[CZE]
		  ,[CZE_DEFAULT_SHIPPING]
		  ,[JPN]
		  ,[JPN_DEFAULT_SHIPPING]
		  ,[CATEGORY_PF]
		  ,[CATEGORY]
		  ,[CATEGORY_INV]
		  ,[ITEM_FAMILY]
		  ,[ITEM_CLASS]
		  ,[COST_OF_GOODS_ACCOUNT]
		  ,[SALES_ACCOUNT]
		  ,[SUBINVENTORY]
		  ,[UNIT_OF_MEASURE]
		  ,[MASTER_ITEM_TEMPLATE]
		  ,[CATALOG_SEGMENT1]
		  ,[CATALOG_SEGMENT2]
		  ,[CATALOG_SEGMENT3]
		  ,[CATALOG_SEGMENT4]
		  ,[PRODUCT_CLASS]
		  ,[PRODUCT_GROUPING_CODE]
		  ,[PRODUCT_CODE]
		  ,[SKU_CATEGORY]
		  ,[PACK_SIZE]
		  ,[INK_COLOR]
		  ,[PRODUCT_COLOR]
		  ,[BARREL_TYPE]
		  ,[SKU_DESCRIPTION]
		  ,[DECORATION_METHOD]
		  ,[OTHER]
		  ,[PRODUCT_FAMILY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[INVENTORY_ITEM_ID]
		  ,[MASTER_ITEM_TEMPLATE_ID]
		  ,[PRIMARY_UOM_CODE]
		  ,[WEIGHT_UOM_CODE]
		  ,[TNS_DEF_SHP_ORG_ID]
		  ,[PLM_DEF_SHP_ORG_ID]
		  ,[IRL_DEF_SHP_ORG_ID]
		  ,[PPC_DEF_SHP_ORG_ID]
		  ,[SAN_DEF_SHP_ORG_ID]
		  ,[NDC_DEF_SHP_ORG_ID]
		  ,[ZCA_DEF_SHP_ORG_ID]
		  ,[ZPP_DEF_SHP_ORG_ID]
		  ,[ZAT_DEF_SHP_ORG_ID]
		  ,[GER_DEF_SHP_ORG_ID]
		  ,[CZE_DEF_SHP_ORG_ID]
		  ,[JPN_DEF_SHP_ORG_ID]
		  ,[CATEGORY_1_SET_NAME]
		  ,[CATEGORY_1_ID]
		  ,[CATEGORY_2_SET_NAME]
		  ,[CATEGORY_2_ID]
		  ,[COST_OF_SALES_CCID]
		  ,[SALES_CCID]
		  ,[MINIMUM]
		  ,[MAXIMUM]
		  ,[VALIDATION_FLAG]
		  ,[PROCESS_FLAG]
		  ,[BatchID]
		  ,[PRODUCT_DESCRIPTION]
		  ,[SKU_LONG_DESCRIPTION]
		  ,[PROP65_CHECK]
		  ,[DEFAULT_BUYER]
		  ,[LIST_PRICE]
		  ,[TypeValue]
		)
	SELECT [NEW_NPC_ITEM_NUM]
		  ,[DESCRIPTION]
		  ,[TARRIFF]
		  ,[PROCESS]
		  ,[COMMISSION_KEY]
		  ,[ROYALTY_CODE]
		  ,[ROYALTY_SUBCODE]
		  ,[AVAILABLE_FOR_SALES_ORDER]
		  ,[TNS]
		  ,[TNS_DEFAULT_SHIPPING]
		  ,[PLM]
		  ,[PLM_DEFAULT_SHIPPING]
		  ,[IRL]
		  ,[IRL_DEFAULT_SHIPPING]
		  ,[PPC]
		  ,[PPC_DEFAULT_SHIPPING]
		  ,[NDC]
		  ,[NDC_DEFAULT_SHIPPING]
		  ,[SAN]
		  ,[SAN_DEFAULT_SHIPPING]
		  ,[ZCA]
		  ,[ZCA_DEFAULT_SHIPPING]
		  ,[ZPP]
		  ,[ZPP_DEFAULT_SHIPPING]
		  ,[ZAT]
		  ,[ZAT_DEFAULT_SHIPPING]
		  ,[GER]
		  ,[GER_DEFAULT_SHIPPING]
		  ,[CZE]
		  ,[CZE_DEFAULT_SHIPPING]
		  ,[JPN]
		  ,[JPN_DEFAULT_SHIPPING]
		  ,[CATEGORY_PF]
		  ,[CATEGORY]
		  ,[CATEGORY_INV]
		  ,[ITEM_FAMILY]
		  ,[ITEM_CLASS]
		  ,[COST_OF_GOODS_ACCOUNT]
		  ,[SALES_ACCOUNT]
		  ,[SUBINVENTORY]
		  ,[UNIT_OF_MEASURE]
		  ,[MASTER_ITEM_TEMPLATE]
		  ,[CATALOG_SEGMENT1]
		  ,[CATALOG_SEGMENT2]
		  ,[CATALOG_SEGMENT3]
		  ,[CATALOG_SEGMENT4]
		  ,[PRODUCT_CLASS]
		  ,[PRODUCT_GROUPING_CODE]
		  ,[PRODUCT_CODE]
		  ,[SKU_CATEGORY]
		  ,[PACK_SIZE]
		  ,[INK_COLOR]
		  ,[PRODUCT_COLOR]
		  ,[BARREL_TYPE]
		  ,[SKU_DESCRIPTION]
		  ,[DECORATION_METHOD]
		  ,[OTHER]
		  ,[PRODUCT_FAMILY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[INVENTORY_ITEM_ID]
		  ,[MASTER_ITEM_TEMPLATE_ID]
		  ,[PRIMARY_UOM_CODE]
		  ,[WEIGHT_UOM_CODE]
		  ,[TNS_DEF_SHP_ORG_ID]
		  ,[PLM_DEF_SHP_ORG_ID]
		  ,[IRL_DEF_SHP_ORG_ID]
		  ,[PPC_DEF_SHP_ORG_ID]
		  ,[SAN_DEF_SHP_ORG_ID]
		  ,[NDC_DEF_SHP_ORG_ID]
		  ,[ZCA_DEF_SHP_ORG_ID]
		  ,[ZPP_DEF_SHP_ORG_ID]
		  ,[ZAT_DEF_SHP_ORG_ID]
		  ,[GER_DEF_SHP_ORG_ID]
		  ,[CZE_DEF_SHP_ORG_ID]
		  ,[JPN_DEF_SHP_ORG_ID]
		  ,[CATEGORY_1_SET_NAME]
		  ,[CATEGORY_1_ID]
		  ,[CATEGORY_2_SET_NAME]
		  ,[CATEGORY_2_ID]
		  ,[COST_OF_SALES_CCID]
		  ,[SALES_CCID]
		  ,[MINIMUM]
		  ,[MAXIMUM]
		  ,[VALIDATION_FLAG]
		  ,[PROCESS_FLAG]
		  ,[BatchID]
		  ,[PRODUCT_DESCRIPTION]
		  ,[SKU_LONG_DESCRIPTION]
		  ,[PROP65_CHECK]
		  ,[DEFAULT_BUYER]
		  ,[LIST_PRICE]
		  ,[TypeValue]
	  FROM [PIM_ETL_STAGE].[dbo].[Stage_OracleSKUForExport]
	  WHERE BatchID = @BatchID
	ORDER BY UniqueID
end










GO
