
/****** Object:  Table [dbo].[BatchProductInfo]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[BatchProductInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[BatchID] [int] NULL,
	[ChannelID] [int] NULL,
	[TaskID] [int] NULL,
	[StatusID] [int] NULL,
 CONSTRAINT [PK_BatchProductInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
