
/****** Object:  Table [dbo].[ProcessShortCodes]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[ProcessShortCodes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShortCode] [nvarchar](50) NULL,
	[ProcessCode] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProcessShortCodes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
