
/****** Object:  Table [dbo].[Usage]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[Usage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Page] [nvarchar](50) NULL,
	[User] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_Usage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
