
/****** Object:  Table [dbo].[Products]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[VendorProductID] [nvarchar](60) NULL,
	[COO] [nvarchar](10) NULL,
	[MOQquoted] [int] NULL,
	[MOQcatalogSTD] [int] NULL,
	[UOM] [nvarchar](10) NULL,
	[UOMcount] [int] NULL,
	[LOTsize] [int] NULL,
	[GeneralComment] [varchar](2000) NULL,
	[NPProductCode] [nvarchar](50) NULL,
	[ItemType] [nvarchar](50) NULL,
	[NPGeneralComments] [nvarchar](max) NULL,
	[RootProductCode] [nvarchar](50) NULL,
	[RootProductName] [nvarchar](255) NULL,
	[Originator] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[CreationDate] [datetime] NULL,
	[LastUpdateDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[OracleCatalog1] [int] NULL,
	[OracleCatalog2] [int] NULL,
	[OracleCatalog3] [int] NULL,
	[OracleCatalog4] [int] NULL,
	[OracleCategoryCode] [nvarchar](10) NULL,
	[URL] [nvarchar](1000) NULL,
	[Height] [decimal](10, 2) NULL,
	[Width] [decimal](10, 2) NULL,
	[Depth] [decimal](10, 2) NULL,
	[Diameter] [decimal](10, 2) NULL,
	[SizeUOM] [nvarchar](10) NULL,
	[Weight] [decimal](10, 2) NULL,
	[WeightUOM] [nvarchar](10) NULL,
	[DimensionsComment] [nvarchar](1000) NULL,
	[ItemUserTypeID] [int] NULL,
	[Class] [int] NULL,
	[GroupingCode] [nvarchar](10) NULL,
	[TarriffCode] [nvarchar](20) NULL,
	[PatentNumbers] [nvarchar](1000) NULL,
	[SellToCountries] [nvarchar](1000) NULL,
	[AvailableCountries] [nvarchar](1000) NULL,
	[BrandedName] [nvarchar](100) NULL,
	[VideoLinkURL] [nvarchar](1000) NULL,
	[DataSource] [nvarchar](20) NULL,
	[CostOfGoodsAccount] [nvarchar](50) NULL,
	[SalesAccount] [nvarchar](50) NULL,
	[LoadGroupID] [int] NULL,
	[AttributeComment] [nvarchar](1000) NULL,
	[ItemSchematic] [nvarchar](1000) NULL,
	[OracleCatalog5] [int] NULL,
	[OracleCatalog6] [int] NULL,
	[VerticalTemplate] [bit] NULL,
	[ShipCategory] [nvarchar](30) NULL,
	[ImportNotes] [nvarchar](max) NULL,
	[SupplierProductID] [nvarchar](60) NULL,
	[LoadDate] [datetime] NULL,
	[IsNew] [bit] NOT NULL,
	[SageProductID] [int] NULL,
	[SageProductCode] [nvarchar](60) NULL,
	[ProductXML] [xml] NULL,
	[ProductXMLCrc] [bigint] NULL,
	[Features] [nvarchar](max) NULL,
	[UpdateDataSource] [nvarchar](20) NULL,
	[AttributeComboKey] [nvarchar](100) NULL,
	[AttributeComboValue] [nvarchar](2000) NULL,
	[COOLocation] [nvarchar](100) NULL,
	[TechSpec] [nvarchar](max) NULL,
	[ImprintAreaNotes] [nvarchar](max) NULL,
	[PatentInfo] [nvarchar](255) NULL,
	[MaterialClassID] [int] NULL,
	[WebCatLevel1] [int] NULL,
	[WebCatLevel2] [int] NULL,
	[WebCatLevel3] [int] NULL,
	[WebCatLevel4] [int] NULL,
	[WebCatLevel5] [int] NULL,
	[MetricHeight] [decimal](10, 2) NULL,
	[MetricWidth] [decimal](10, 2) NULL,
	[MetricDepth] [decimal](10, 2) NULL,
	[MetricDiameter] [decimal](10, 2) NULL,
	[MetricSizeUOM] [nvarchar](10) NULL,
	[MetricWeight] [decimal](10, 2) NULL,
	[MetricWeightUOM] [nvarchar](10) NULL,
	[LicensorID] [int] NULL,
	[MCPFamilyRefID] [nvarchar](50) NULL,
	[MCPFamilyNodeID] [nvarchar](100) NULL,
	[PreOrderMonth] [nvarchar](50) NULL,
	[Section321Qualified] [bit] NULL,
	[StockUpdateDate] [datetime] NULL,
	[MCPType] [nvarchar](200) NULL,
	[MCPFamilyLocationID] [nvarchar](200) NULL,
	[TSCAep4Cert] [bit] NULL,
	[MCPTypeName] [nvarchar](200) NULL,
	[MCPAccessoryListID] [nvarchar](200) NULL,
	[AllowFlexiblePricing] [bit] NULL,
	[FixedOrderModifier] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[EUTarriffCode] [nvarchar](20) NULL,
	[MaterialSupplierId] [int] NULL,
	[SupplierRightsExpirationDate] [datetime] NULL,
	[SupplierTATmin] [varchar](50) NULL,
	[SupplierTATmax] [varchar](50) NULL,
	[HtsInfoID] [int] NULL,
	[CaTariffCode] [nvarchar](20) NULL,
	[TRCommodityCode] [nvarchar](100) NULL,
	[TRHarmonizedCode] [nvarchar](100) NULL,
	[IDLink] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__IsNew__52442E1F]  DEFAULT ((0)) FOR [IsNew]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
