
/****** Object:  Table [dbo].[tmpPablo_sku]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[tmpPablo_sku](
	[Supplier ASI #] [float] NULL,
	[NP Product Code] [nvarchar](255) NULL,
	[Product Version] [nvarchar](255) NULL,
	[Product Family] [nvarchar](255) NULL,
	[SKU Format] [nvarchar](255) NULL,
	[Oracle SKU ID] [nvarchar](255) NULL,
	[Oracle SKU Description] [nvarchar](255) NULL,
	[Cross Reference] [nvarchar](255) NULL,
	[External Part Number] [nvarchar](255) NULL,
	[Deco Method] [nvarchar](255) NULL,
	[NADM] [nvarchar](255) NULL,
	[GS-NA] [nvarchar](255) NULL,
	[NPL] [nvarchar](255) NULL,
	[GS-EU] [nvarchar](255) NULL,
	[AU/NZ] [nvarchar](255) NULL,
	[JAPAN] [nvarchar](255) NULL,
	[ATLAS] [nvarchar](255) NULL
) ON [PRIMARY]
GO
