
/****** Object:  Table [dbo].[WFTaskStatus]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[WFTaskStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
