CREATE TABLE [dbo].[Schematics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Filename] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Schematics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
