
/****** Object:  Table [dbo].[MasterDataSheetColumns]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[MasterDataSheetColumns](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PriorityOrder] [int] NULL,
	[ColumnName] [nvarchar](512) NULL,
	[ToolTip] [nvarchar](512) NULL,
	[Enabled] [bit] NULL,
 CONSTRAINT [PK_MasterDataSheetColumns] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
