
/****** Object:  Table [dbo].[TechSpecs]    Script Date: 3/4/2022 11:44:42 AM ******/

CREATE TABLE [dbo].[TechSpecs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DocName] [nvarchar](50) NULL,
	[DocText] [nvarchar](max) NULL,
 CONSTRAINT [PK_TechSpecs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
